In [3]:
#라이브러리 로드
#requests로 웹브라우저 웹사이트 내용을 가져온다
import requests
#BeautifulSoup을 통해 읽어 온 웹사이트를 파싱한다.
from bs4 import BeautifulSoup as bs
#크롤링 후 결과를 데이터프레임 형태로 보기 위해 불러온다.
import pandas as pd

#크롤링에서 댓글이 많으므로 for문으로 돌리면서 데이터를 저장할 때 시간을 알기 위해
from tqdm import trange

In [4]:
#크롤링 할 사이트
base_url = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EC%A7%B1%EA%B5%AC%EB%8C%80%EB%94%94"
response = requests.get(base_url)
response

In [5]:
soup = bs(response.text, 'html.parser')

In [ ]:
#main_pack > section.sc_new.sp_nreview._prs_rvw._au_view_collection > div > div._svp_list > panel-list > div > ul > li:nth-child(1) > div.total_wrap.api_ani_send > div

In [6]:
content = soup.select("#main_pack > section.sc_new.sp_nreview._prs_rvw._au_view_collection > div > div._svp_list > panel-list > div > ul > li:nth-child(1) > div.total_wrap.api_ani_send > div")
content[-1]

<div class="total_area"> <div class="total_info"> <div class="api_save_group _keep_wrap"> <a aria-pressed="false" class="btn_save _keep_trigger" data-url="https://blog.naver.com/atcovernat/221757815180" href="#" onclick="tCR('a=rvw*b.kep&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u=javascript'); return false;" role="button"><i class="spnew ico_save">문서 저장하기</i></a> <div class="api_ly_save _keep_save_layer"> <a class="spnew_af item item_save _keep_save" data-cr-off="a=rvw*b.kepoff&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u=javascript" data-cr-on="a=rvw*b.kepon&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u=javascript" href="#" role="button">Keep에 저장</a> <a class="spnew_af item item_quick" href="https://keep.naver.com/" onclick="return goOtherCR(this,'a=rvw*b.kephome&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u='+urlencode(this.href));" target="_blank">Keep 바로가기</a> </div></div><div class="total_sub"> <a class="sub_thumb" href="https://blog.naver.com/atcovernat" onclick="return goOtherCR(this, 'a=rvw*b.writer&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u='+urlencode(this.href))" target="_blank"> <span class="thumb"><img alt="" class="" height="20" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.className='bg_npimg'" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogpfthumb.phinf.naver.net%2FMjAxNzEwMzFfMTA3%2FMDAxNTA5NDE1ODE0NDE0.eDxb4_M6jl3AYw3262QHUt4bL9MbTIeekPIfFG0uMCwg.Tkyv24HUQsB5DxyJz01KQjok-d6TB0RjzUEeWfGK54Eg.JPEG.atcovernat%2F111.jpg&amp;type=f54_54" width="20"/></span> </a> <span class="elss etc_dsc"> <span class="etc_dsc_group"> <span class="etc_dsc_area"> <span class="sub_time sub_txt">2020.01.02.</span> </span><span class="elss etc_dsc_inner"> <a class="sub_txt sub_name" href="https://blog.naver.com/atcovernat" onclick="return goOtherCR(this, 'a=rvw*b.writer&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u='+urlencode(this.href))" target="_blank">커버낫</a> </span> </span></span></div></div><a class="api_txt_lines total_tit" data-recommend="1" href="https://blog.naver.com/atcovernat/221757815180" onclick="return goOtherCR(this, 'a=rvw*b.link&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u='+urlencode(this.href))" target="_blank">인기 유튜버 채널 속 커버낫 with <mark>짱구대디</mark></a> <div class="total_group"> <div class="total_dsc_wrap"> <a class="total_dsc" data-recommend="1" href="https://blog.naver.com/atcovernat/221757815180" onclick="return goOtherCR(this, 'a=rvw*b.link&amp;r=1&amp;i=90000003_0000000000000033A1CBB98C&amp;u='+urlencode(this.href))" target="_blank"> <div class="api_txt_lines dsc_txt"><mark>짱구대디</mark> 첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 &amp; 리뷰 &amp; 남친룩을 전문적으로 다루는 패션 유튜버 <mark>짱구 대디</mark>에요! <mark>짱구대디</mark>는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...</div> </a> </div></div></div>

In [7]:
chitchat = content[-1].select("div.total_dsc_wrap")[0].get_text(strip=True)
chitchat
#get_text(strip true)는 앞뒤에 있는 공백을 제거하는 것이다.
#chitchat이라는변수에 담아준다.

'짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...'

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(5):
    chitchat = content[-1].select("div.total_dsc_wrap")[0].get_text(strip=True)
    print(chitchat)

짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...

In [10]:
for i in range(5):
    chitchat = content[i].select("div.total_dsc_wrap")[0].get_text(strip=True)
    print(chitchat)

짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...

IndexError: list index out of range

In [11]:
for i in range(5):
    print("_"*20)
    chitchat = content[-1].select("div.total_dsc_wrap")[0].get_text(strip=True)
    print(chitchat)

____________________
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
____________________
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
____________________
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
____________________
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
____________________
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...

In [12]:
events = []
for i in range(5):
    print("-"*45)
    chitchat = content[-1].select("div.total_dsc_wrap")[0].get_text(strip=True)
    print(chitchat)
    events.append(chitchat)
    #event라는 배열을 만들어준다.

---------------------------------------------
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
---------------------------------------------
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
---------------------------------------------
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
---------------------------------------------
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...
---------------------------------------------
짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...

In [ ]:
#section.sc_new.sp_nreview._prs_rvw._au_view_collection

In [13]:
events

['짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...',
 '짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...',
 '짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...',
 '짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...',
 '짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...']

In [14]:
len(content)
#content의 갯수

1

In [15]:
content_count = len(content)
content_count
#수집을 해서 분석하기 위해

1

In [16]:
events = []
for i in trange(content_count):
    chitchat = content[i].select("div.total_dsc_wrap")[0].get_text(strip=True)
    events.append(chitchat)
    #trange tqdm으로 얼마나 진행됬느지 확인한다, for문이 돌아가는데 시간이 걸리기 때문에

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [17]:
events[:5]

['짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱구대디는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...']

In [18]:
pd.DataFrame({"text":events})
#pandas를 이용하여 text를 나열한다.
#text들이 수집이 되었다.

                                                text
0  짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...

In [26]:
df = pd.DataFrame({"text": events})
df.shape

#수집된 갯수

(1, 1)

In [27]:
df.to_csv("finalproject-1591027-LJK.csv", index=False)
#파일로 저장한다.

In [28]:
pd.read_csv("finalproject-1591027-LJK.csv").head()

                                                text
0  짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...

In [ ]:
#댓글을 분석하기 위해 ,빈도 수로 추출하기 위해
#선호도와 경쟁사 분석을 위해서(마케팅 세그먼트)

In [30]:
import pandas as pd
import numpy as np
import re
#정규표현식을 사용하기 위해
import matplotlib.pyplot as plt
#pip install matplotlib를 해준다.
#시각화를 위해 사용하기 위해서

%matplotlib inline
#시각화 결과가 선명하게 표시되도록
%config InlineBackend.figure_format = 'retina'

In [31]:
#Window 한글폰트 설정
plt.rc("font", family="Malgun Gothic")

In [32]:
df = pd.read_csv("finalproject-1591027-LJK.csv")
df.shape

(1, 1)

In [33]:
df.tail()
#최근 게시물을 보기위해

                                                text
0  짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...

In [34]:
#중복으로 댓글이 달려있는것을 다 세어주게 되면 빈도수로 제대로 된 분석이 어렵다 
#따라서 dupliacates로 걸러준다. 빈도수 중복을 방지하기 위해서
print(df.shape)
df = df.drop_duplicates(["text"], keep = "last")
print(df.shape)

(1, 1)
(1, 1)

In [36]:
#전처리 전에 원본을 보존하기 위해 복사를 해준다.
df["origin_text"] =  df["text"]
df.head()
#사본이 잘 생성된다.

,text,origin_text
0,짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...,짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...

In [37]:
#파이썬은 대소문자를 구분하기 때문에 데이터 필터링을 위해 대문자를 모두 소문자로 변경한다.
df["text"] = df["text"].str.lower()

In [40]:
#같은 의미의 단어를 하나로 통일 한다. 
df["text"] = df["text"].str.replace(
    "shopping", "쇼핑").str.replace(
    "good", "좋은").str.replace(
    "fashion", "패션").str.replace(
    "짱구대디","짱대").str.replace(
    "react","리액트")

In [42]:
#텍스트로 패션유투버 분리
df["course"] = df["text"].apply(lambda x: x.split("패션유투버")[-1])
df["course"] = df["text"].apply(lambda x: x.split("패션 유투버")[-1])
df["course"] = df["text"].apply(lambda x: x.split("패션 유튜버")[-1])
df["course"] = df["text"].apply(lambda x: x.split("패션유튜버")[-1])
df["course"] = df["text"].str.replace(":","")
df["course"].head()

0    짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...
Name: course, dtype: object

In [43]:
df["course"].tail()

0    짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...
Name: course, dtype: object

In [45]:
df[["text", "course"]].tail()

,text,course
0,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...

In [46]:
df[["text","course"]].head()
#인기 유투버를 안쓴 텍스트는 전체 텍스트를 가져온다
#인기 유투버를 쓴 텍스트는 뒤에 있는 것만 가지고 온다.

,text,course
0,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...

In [47]:
#띄워쓰기를 제거한 텍스트에서 키워드를 추출해준다.
search_keyword = ["쇼핑", "추천", "데일리룩", "일상", 
                    "구매 좌표", "구매처", "인기" , "패션"]

for keyword in search_keyword:
    df[keyword] = df["course"].str.contains(keyword)

#키워드가 들어간다면 true 안들어가면 false로 춣력

In [48]:
df.head()

#키워드를 통해서 빈도수를 세어 줄 수 있다.
#어떤 키워드를 많이 사용하는지도 확인할 수 있다.

,text,origin_text,course,쇼핑,추천,데일리룩,일상,구매 좌표,구매처,인기,패션
0,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,False,False,False,False,False,False,True,True

In [49]:
df_python = df[df["text"].str.contains("쇼핑|인기|패션")].copy()
df_python.head()
#키워드들이 들어간 텍스트들은 df_python이라는 곳에 따로 담아두도록 하였다.

,text,origin_text,course,쇼핑,추천,데일리룩,일상,구매 좌표,구매처,인기,패션
0,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,False,False,False,False,False,False,True,True

In [50]:
df_python = df[df["text"].str.contains("쇼핑|인기|패션")].copy()
df_python.shape
#키워드들이 들어간 데이터의 갯수 확인

(1, 11)

In [51]:
df.shape
#전체 데이터의 갯수

(1, 11)

In [52]:
df.head()

,text,origin_text,course,쇼핑,추천,데일리룩,일상,구매 좌표,구매처,인기,패션
0,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,짱구대디첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 ...,짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...,False,False,False,False,False,False,True,True

In [53]:
df[search_keyword].sum()
#keyword가 들어간 것들의 데이터를 더해준다.

쇼핑       0
추천       0
데일리룩     0
일상       0
구매 좌표    0
구매처      0
인기       1
패션       1
dtype: int64

In [55]:
True + True + False
#갯수를 세워준다.

2

In [54]:
df[search_keyword]
#각각의 키워드 별로 true or false로 나타난다.

      쇼핑     추천   데일리룩     일상  구매 좌표    구매처    인기    패션
0  False  False  False  False  False  False  True  True

In [56]:
df[search_keyword].sum().sort_values(ascending=False)
#내가 보고자 하는 키워드들의 빈도수를 한눈에 확인할 수 있다.

인기       1
패션       1
쇼핑       0
추천       0
데일리룩     0
일상       0
구매 좌표    0
구매처      0
dtype: int64

In [57]:
#df에서 "인기"가 true인 것만 가져와서 확인해보자
text = df.loc[(df["인기"] == True), "text"]
for t in text:
    print("-"*45)
    print(t)

---------------------------------------------
짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & 리뷰 & 남친룩을 전문적으로 다루는 패션 유튜버짱구 대디에요!짱대는 이번 영상에서 "신사동에 있는 커버낫 매장 뿌수고...

In [59]:
#"패션"만 들어가는 텍스트만 찾기
df.loc[df["패션"] == True, "text"]

0    짱대첫 번째로 소개드릴 인기 유튜버는 무려 46만 구독자를 보유하고 있는 패션 & ...
Name: text, dtype: object

In [ ]:
#metaplotlib로 시각화를 진행해주려고 하였지만 완성하지 못하였습니다.